@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

:root{
    font-size: 16px;
    --primary-color: #0d7cc6;
    --secondary-color: #f68712;
    --tertiary-color: #90c2e6;
    --white1: #dbdada;
    --black: #010101;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}
body{
    margin: 0;
    padding: 0;
}
.login_container{
    display: flex;
}

.login_side_1{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
}
.login_side_1 h1{
    margin-top: 25vh;
    font-size: 2.65rem;
    margin-bottom: 5vh;
    color:var(--black);
    
}
.login_side_1 p{
   align-items: center;
   text-align: center;
   margin-bottom: 5vh;
   color:var(--black);
   font-weight: 400;
}
.login_side_1 form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_case{
    position: relative;
}
.input_case input {
    text-indent: 3vw; /*starts writting at the begining of placeholder*/
    padding-left: 0;
    font-size: 1.03rem;
}
.input_case input::placeholder {
    text-indent: 3vw; 
    font-size: 1.03rem;
}
.input_case input[type = "password"] {
    font-size: 2rem;
}
form div i {
    position: absolute;
    font-size: 1.65rem;
    margin-top: 7px;
    margin-left: 10px;
}
input[type="text"],
input[type="password"] {
    width: 26vw;
    height: 40px;
    padding: 10px;
    margin-bottom: 4vh; 
    border: none;
    border-radius: 4px;
    background-color: var(--white1);
    outline: none;
}

input[type="submit"] {
    width: 12vw; 
    padding: 8px; 
    border: none;
    background-color: var(--primary-color);
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 0.95rem;
    border-radius: 4px;
}
.login_side_2{
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--primary-color);
}
.img_side_2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../img/loginBackgroud.png');
    background-size: cover;
    background-position: 100% 49%;
}
.img1_side_2{
    position: absolute;
    width: 100%;
    height: 78%;
    top: 19vh;
    left: 0;
    background: url('../img/loginImage.png');
    background-size: cover;
    background-position: center;
    animation: moveImg 2s infinite ease-out;
}
.img2_side_2 {
    position: absolute;
    width: 26%;
    height: 24%;
    top: 7vh;
    left: 20vw;
    background: url('../img/plane.png');
    background-size: cover;
    background-position: center;
    animation: scaleImg 4s infinite linear;
}

#error_message{
    display: none;
    border: 1px solid black ;
    height: 5vh;
    width: 20vw;
    background-color: red;
    margin-top: 4vh;
    align-items: center;
    justify-content: center;
    
}

#error_message p{
    margin-top: 3px;
    margin-left: 3vw;
    text-align: center;
    color : var(--white1);
    font-weight: lighter;
}

#error_message{
    position: relative;
}
#error_message i {
    position: absolute;
    margin-left: 2vw;
    margin-top: 5px;
    color:var(--white1);
}

@keyframes moveImg {
    0% { 
        transform: translateY(0); 
    }
    50% { 
        transform: translateY(7px); 
    }
    100% { 
        transform: translateY(0); 
    }
}
@keyframes scaleImg {
    0% {
        transform: scale(0);
    }
    5% {
        transform: scale(0.1);
    }
    15% {
        transform: scale(0.2);
    }
    25% {
        transform: scale(0.3);
    }
    35% {
        transform: scale(0.4);
    }
    45% {
        transform: scale(0.5);
    }
    55% {
        transform: scale(0.6);
    }
    65% {
        transform: scale(0.7);
    }
    75% {
        transform: scale(0.8);
    }
    85% {
        transform: scale(0.9);
    }
    95% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 414px) {
.login_container{
    display: flex;
    flex-direction: column;
}
.login_side_1{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    padding-left: 3vw;
    padding-right: 3vw;
}
.login_side_1 h1{
    margin-top: 5vh;
    font-size: 2rem;
    margin-bottom: 2vh;
    color:var(--black);
    
}
.login_side_1 p{
    font-size: 0.83rem;
    margin-bottom: 4vh;
 }

.login_side_2{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--primary-color);
}

.input_case input {
    text-indent: 11vw; /*starts writting at the begining of placeholder*/
    padding-left: 0;
    font-size: 1.03rem;
}
.input_case input::placeholder {
    text-indent: 11vw; 
    font-size: 0.95rem;
}
.input_case input[type = "password"] {
    font-size: 1.35rem;
}
form div i {
    position: absolute;
    font-size: 1.45rem;
    margin-top: 10px;
    margin-left: 10px;
}
input[type="text"],
input[type="password"] {
    width: 90vw;
    height: 5vh;
    margin-bottom: 4vh; 
    outline: none;
}

input[type="submit"] {
    width: 30vw; 
    padding: 8px; 
}

.img_side_2{
    position: absolute;
    background: url('../img/loginBackgroud.png');
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 50vh;
}
.img1_side_2{
    position: absolute;
    width: 100%;
    height: 44%;
    top: 10vh;
    left: 0;
    background: url('../img/loginImage.png');
    background-size: cover;
    background-position: center;
    animation: moveImg 2s infinite ease-out;
}
.img2_side_2 {
    position: absolute;
    object-fit: cover;
    width: 44%;
    height: 19%;
    top: 0;
    left: 30vw;
    background: url('../img/plane.png');
    background-size: cover;
    background-position: center;
    animation: scaleImg 4s infinite linear;
}

@keyframes scaleImg {
    0% {
        transform: scale(0);
    }
    5% {
        transform: scale(0.1);
    }
    15% {
        transform: scale(0.2);
    }
    25% {
        transform: scale(0.3);
    }
    35% {
        transform: scale(0.4);
    }
    45% {
        transform: scale(0.5);
    }
    55% {
        transform: scale(0.6);
    }
    65% {
        transform: scale(0.7);
    }
    75% {
        transform: scale(0.8);
    }
    85% {
        transform: scale(0.9);
    }
    95% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.98);
    }
}

}
